/* ---- default style start ---- */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
img {
  width: 100%;
}
body {
  font-family: "Nunito Sans", sans-serif;
}
.primary-btn,
.success-btn {
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  background: #417efb;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.success-btn {
  background: #5dd28e;
  margin-right: 0;
}
.container {
  max-width: 1100px;
  padding: 15px;
  margin: 0 auto;
}
.mt {
  margin-top: 6em;
}
.mb {
  margin-bottom: 6em;
}
/* ---- default style end ---- */

/* ---- header style start ---- */
.header-section {
  background-image: url("/images/banner");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.header-section::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}
.logo-text {
  font-weight: 900;
}
.navber {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
}
.nav li {
  margin-right: 15px;
  font-size: 1.1rem;
  cursor: pointer;
}
.menu-ber {
  display: none;
}
.menu {
  font-size: 1.9rem;
}
.header-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 90vh;
  position: relative;
  z-index: 2;
}
.sub-title {
  font-size: 1.4rem;
}
.title {
  font-size: 4rem;
}
.title-span {
  font-weight: 300;
}
.header-bottom button {
  width: 20%;
}
/* ---- header style end ---- */

/* ---- feature style start ---- */
.feature-section {
  background: #f8f9fa;
  height: 300px;
}
.feature-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.feature {
  padding: 15px;
  margin-right: 20px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.feature img {
  width: 65px;
  background: #417efb;
  padding: 5px;
  border-radius: 50%;
}
.feature h3 {
  color: #333;
  margin-bottom: 5px;
}
.feature p {
  line-height: 18px;
}
/* ---- feature style end ---- */
/* ---- categories style start ---- */
.categories-head {
  text-align: center;
}
.categories-head p {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}
.categories-head h2 {
  font-size: 40px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
}
.categories-head h2 > span {
  font-weight: 900;
}
.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.categorie {
  border: 1px solid #5dd28e;
  border-radius: 5px;
  padding: 15px 0px 15px 15px;
}
.categorie h3 > span {
  background: #e9f9ef;
  color: #5dd28e;
  padding: 5px 10px;
  border-radius: 3px;
}
/* ---- categories style end ---- */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* ---- header style start ---- */
  .header-section {
    background-position: center;
  }
  .navber {
    display: none;
  }
  .menu-ber {
    display: inline-block;
  }
  .header-bottom button {
    width: 25%;
  }
  /* ---- header style end ---- */

  /* ---- feature style start ---- */
  .feature-section {
    height: 650px;
  }
  .feature-flex {
    display: block;
  }
  .feature {
    margin-bottom: 20px;
  }
  /* ---- feature style end ---- */
  /* ---- caregories style start ---- */
  .categories {
    grid-template-columns: 1fr;
  }
  /* ---- caregories style end ---- */
}
